# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [88]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

df = pd.read_csv("jeopardy.csv")
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [89]:
df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

The issue with the column names is that there is a prefix of a space in most of them. We don't really want this so we should strip the text of the columns which will remove any of this unneccessary spacing.

In [90]:
df.columns = df.columns.str.strip()
df.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [91]:
def question_words(df, word_list):
    new_df = df

    for word in word_list:
        new_df = new_df[new_df["Question"].str.contains(word)]

    return new_df

In [92]:
word_list = ["England", "King"]
returned_df = question_words(df, word_list)
returned_df["Question"]

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

In [93]:
len(returned_df)

49

In [94]:
word_list = ["om", "th", "year"]
returned_df = question_words(df, word_list)
returned_df["Question"]

143                                                                                                                                                                                                                                                                                                                                                  Andrea Palladio's 1554 book on "The Antiquities of" this city was the standard guidebook for some 200 years
224                                                                                                                                                                                                                                                                                                                                                     The Times of London estimates this chess player is taking home $20 mil. a year; that's some check, mate!
918                                                                                                                                                                                                                                                                                                                                          As an 8-year-old in 1956, she sang with a group welcoming Queen Elizabeth II; later she sang to open the 2000 games
976                                                                                                                                                                                                                                                                                                                                                                          This show which had a 9-year-run on ABC was produced with help from J. Edgar Hoover
1501                                                                                                                                                                                                                                                                                                                                                                       Each year, World Space Week is at the start of October, commemorating this 1957 event
                                                                                                                                                                                                                                   ...
216099    (<a href="http://www.j-archive.com/media/2011-09-20_J_08.jpg" target="_blank">Kelly of the Clue Crew holds a small statue at the Smithsonian Hall of Human Origins.</a>)  This 35-thousand-year-old <a href="http://www.j-archive.com/media/2011-09-20_J_08a.jpg" target="_blank">figurine</a> known as the Lion Man, the oldest known human statue, is made from the ivory of this animal that went from endangered to extinct thousands of years ago
216368                                                                                                                                                                                                                                                                                                                    November of this year brought the headline seen <a href="http://www.j-archive.com/media/2001-09-20_DJ_24.jpg" target="_blank">here</a>
216379                                                                                                                                                                                                                                                                                                                        Post World War II-year of the headline seen <a href="http://www.j-archive.com/media/2001-09-20_DJ_26.jpg" target="_blank">here</a>
216683                                                                                                                                                                                                                                                                                                                                                                            Put on some soft howling music during this season of the year when wolves mate
216693                                                                                                                                          (<a href="http://www.j-archive.com/media/2010-12-16_J_27.jpg" target="_blank">Kelly of the Clue Crew gives the clue from the American Red Cross in Washington, D.C.</a>)  One of the best ways you can help the Red Cross is to donate blood, & since you can do it every 56 days, that's this many times a year
Name: Question, Length: 1260, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [95]:
def question_words_2(df, word_list):
    new_df = df

    for word in word_list:
        # rf before the string makes it so escape characters work properly and I can easily reference the individual word from the word_list for the regex
        # 3 separate matching cases to deal with 2 edge cases where the word is at the beginning or end of the question where there would be no text on either side to check for anything.
        # The \W's are there to see if there is a non-alphanumeric character there (number, whitespace, comma, etc.).
        # If there is an alphanumeric character, the word from word_list is only a part of a word and does not count.
        # If there is a non-alphanumeric character then it is the beginning or end of the word (depending on what side).
        new_df = new_df[new_df["Question"].str.contains(rf"\W{word}\W|\W{word}$|^{word}\W", case=False, na=False)]

    return new_df

In [96]:
word_list = ["om", "th", "year"]
returned_df = question_words_2(df, word_list)
returned_df["Question"]

Series([], Name: Question, dtype: object)

No longer does this word_list return anything since 'om' and 'th' aren't full words.

In [97]:
word_list = ["St", "Look"]
returned_df = question_words_2(df, word_list)
returned_df["Question"]

293                                                                                                                                                                                                                                                                                                                       "'...Why look'st thou so?'--'With my crossbow I shot the albatross'"
81286                                                                                                                        Restored to its <a href="http://www.j-archive.com/media/2004-06-03_J_19.jpg" target="_blank">original look</a>, the USA's first public one of <a href="http://www.j-archive.com/media/2004-06-03_J_19a.jpg" target="_blank">these</a> opened in St. Louis in 1873
124979                                                                                                                                                                                                                                                                              "'From the fiends, that plague thee thus!--Why look'st thou so?'--'With my crossbow I shot the albatross'"
134131                                                                                                                                                                                                                                                                        Coleridge: "From the fiends, that plague thee thus!--why look'st thou so?"--"With my bleep I shot the albatross"
134953    (<a href="http://www.j-archive.com/media/2006-05-04_J_05.jpg" target="_blank">Cheryl of the Clue Crew stands with a gold statue in Peterhofm St. Petersberg, Russia.</a>)  The statue of Perseus here at Peterhof holds the <a href="http://www.j-archive.com/media/2006-05-04_J_05a.jpg" target="_blank">head</a> of this Gorgon who's made to look like King Charles XII of Sweden
Name: Question, dtype: object

Still some weird edge cases can exist. Such as this question:

"'From the fiends, that plague thee thus!--Why look'st thou so?'--'With my crossbow I shot the albatross'"

If the word_list has 'look' in it (or st) then it matches for 'look'st' since 'look' has a space and a ' after it. 

The reason I'm not going to fix such edge cases is so that the case mentioned in the question (England's) can still actually work if the word in word_list is 'England'.

There is also some weirdness in some questions with image links in them but I'm not sure we'll need to actually fix that for this project.

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [99]:
print(df["Value"].unique())

['$200' '$400' '$600' '$800' '$2,000' '$1000' '$1200' '$1600' '$2000'
 '$3,200' 'no value' '$5,000' '$100' '$300' '$500' '$1,000' '$1,500'
 '$1,200' '$4,800' '$1,800' '$1,100' '$2,200' '$3,400' '$3,000' '$4,000'
 '$1,600' '$6,800' '$1,900' '$3,100' '$700' '$1,400' '$2,800' '$8,000'
 '$6,000' '$2,400' '$12,000' '$3,800' '$2,500' '$6,200' '$10,000' '$7,000'
 '$1,492' '$7,400' '$1,300' '$7,200' '$2,600' '$3,300' '$5,400' '$4,500'
 '$2,100' '$900' '$3,600' '$2,127' '$367' '$4,400' '$3,500' '$2,900'
 '$3,900' '$4,100' '$4,600' '$10,800' '$2,300' '$5,600' '$1,111' '$8,200'
 '$5,800' '$750' '$7,500' '$1,700' '$9,000' '$6,100' '$1,020' '$4,700'
 '$2,021' '$5,200' '$3,389' '$4,200' '$5' '$2,001' '$1,263' '$4,637'
 '$3,201' '$6,600' '$3,700' '$2,990' '$5,500' '$14,000' '$2,700' '$6,400'
 '$350' '$8,600' '$6,300' '$250' '$3,989' '$8,917' '$9,500' '$1,246'
 '$6,435' '$8,800' '$2,222' '$2,746' '$10,400' '$7,600' '$6,700' '$5,100'
 '$13,200' '$4,300' '$1,407' '$12,400' '$5,401' '$7,800' '$1,183' '$1,203'
 '$13,000' '$11,600' '$14,200' '$1,809' '$8,400' '$8,700' '$11,000'
 '$5,201' '$1,801' '$3,499' '$5,700' '$601' '$4,008' '$50' '$2,344'
 '$2,811' '$18,000' '$1,777' '$3,599' '$9,800' '$796' '$3,150' '$20'
 '$1,810' '$22' '$9,200' '$1,512' '$8,500' '$585' '$1,534' '$13,800'
 '$5,001' '$4,238' '$16,400' '$1,347' '$2547' '$11,200']

First, we need to remove the $ sign and commas from all the values, then the rows with 'no value' should be turned into 0

In [100]:
df["Value"] = df["Value"].str.replace(r"\$|,", "", regex=True)
print(df["Value"].unique())

['200' '400' '600' '800' '2000' '1000' '1200' '1600' '3200' 'no value'
 '5000' '100' '300' '500' '1500' '4800' '1800' '1100' '2200' '3400' '3000'
 '4000' '6800' '1900' '3100' '700' '1400' '2800' '8000' '6000' '2400'
 '12000' '3800' '2500' '6200' '10000' '7000' '1492' '7400' '1300' '7200'
 '2600' '3300' '5400' '4500' '2100' '900' '3600' '2127' '367' '4400'
 '3500' '2900' '3900' '4100' '4600' '10800' '2300' '5600' '1111' '8200'
 '5800' '750' '7500' '1700' '9000' '6100' '1020' '4700' '2021' '5200'
 '3389' '4200' '5' '2001' '1263' '4637' '3201' '6600' '3700' '2990' '5500'
 '14000' '2700' '6400' '350' '8600' '6300' '250' '3989' '8917' '9500'
 '1246' '6435' '8800' '2222' '2746' '10400' '7600' '6700' '5100' '13200'
 '4300' '1407' '12400' '5401' '7800' '1183' '1203' '13000' '11600' '14200'
 '1809' '8400' '8700' '11000' '5201' '1801' '3499' '5700' '601' '4008'
 '50' '2344' '2811' '18000' '1777' '3599' '9800' '796' '3150' '20' '1810'
 '22' '9200' '1512' '8500' '585' '1534' '13800' '5001' '4238' '16400'
 '1347' '2547' '11200']

In [101]:
df["Value"] = df["Value"].str.replace("no value", "0")
print(df["Value"].unique())

['200' '400' '600' '800' '2000' '1000' '1200' '1600' '3200' '0' '5000'
 '100' '300' '500' '1500' '4800' '1800' '1100' '2200' '3400' '3000' '4000'
 '6800' '1900' '3100' '700' '1400' '2800' '8000' '6000' '2400' '12000'
 '3800' '2500' '6200' '10000' '7000' '1492' '7400' '1300' '7200' '2600'
 '3300' '5400' '4500' '2100' '900' '3600' '2127' '367' '4400' '3500'
 '2900' '3900' '4100' '4600' '10800' '2300' '5600' '1111' '8200' '5800'
 '750' '7500' '1700' '9000' '6100' '1020' '4700' '2021' '5200' '3389'
 '4200' '5' '2001' '1263' '4637' '3201' '6600' '3700' '2990' '5500'
 '14000' '2700' '6400' '350' '8600' '6300' '250' '3989' '8917' '9500'
 '1246' '6435' '8800' '2222' '2746' '10400' '7600' '6700' '5100' '13200'
 '4300' '1407' '12400' '5401' '7800' '1183' '1203' '13000' '11600' '14200'
 '1809' '8400' '8700' '11000' '5201' '1801' '3499' '5700' '601' '4008'
 '50' '2344' '2811' '18000' '1777' '3599' '9800' '796' '3150' '20' '1810'
 '22' '9200' '1512' '8500' '585' '1534' '13800' '5001' '4238' '16400'
 '1347' '2547' '11200']

In [102]:
df["Value"] = pd.to_numeric(df["Value"])

In [103]:
word_list = ["King"]
king_questions = question_words_2(df, word_list)
mean_value_king_questions = king_questions["Value"].mean()
print(mean_value_king_questions)

803.2981049562683

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [104]:
def count_answers(df):
    return df["Answer"].value_counts()

In [105]:
count_answers(king_questions)

Answer
Henry VIII                           54
Solomon                              31
Louis XIV                            31
David                                29
Sweden                               24
                                     ..
Oscar                                 1
Henderson                             1
(Catherine) Howard                    1
"The Circle Of Life"                  1
a pyramid (the pyramids accepted)     1
Name: count, Length: 1499, dtype: int64

The count for Henry VIII is different because the filter in their solution is a bit different than mine (I think mine is more robust) but since it is close to their answer it must still be working correctly.

There is more I can technically do but I'm going to stop here for now with this project since there isn't a huge need to continue with it.